<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
[ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" [ngClass]="getCellStyle()">
        <ng-content select=".app-modal-header"></ng-content>
        <h3>{{ curElement.name }}</h3>
      </div>
      <div class="modal-body">
        <ng-content select=".app-modal-body"></ng-content>
        <table>
          <tr>
            <td>
              <label for="atomicNumber">Atomic number:</label> <span id="atomicNumber">{{curElement.atomicNumber}}</span> 
            </td>
          </tr>
          <tr>
            <td>
              <label for="atomicMass">Atomic mass:</label> <span id="atomicMass">{{curElement.atomicMass}}</span> 
            </td>
          </tr>
          <tr>
            <td>
              <label for="group">Group:</label> <span id="group">{{curElement.group.name}}</span> 
            </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <ng-content select=".app-modal-footer"></ng-content> 
      </div>
    </div>
  </div>
</div>